.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    justify-content: flex-start;
    align-items: center;
}

.AddItem {
    background-color: #eee;
    margin-top: 3em;
    padding: 0.8em;
}

.AddItem > p {
    margin-top: 0;
}